[Desktop Entry]
Type=Application
Name=Pool Controller
Exec=/home/admin/PoolController/PoolController
Icon=/home/admin/PoolController/img/logo.png
Terminal=false
X-GNOME-Autostart-enabled=true
